*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color:#b8c0ff;
}

.card {
    align-items: center;
    width: 23em;
    height: 30.15em;
    background: #240046;
    transition: 1s ease-in-out;
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin-inline: auto;
    justify-content: center;
    margin-top: 7em;
  }
  
  .card span {
    font-weight: bold;
    color: #be95be;
    text-align: center;
    display: block;
    font-size: 1.25em;
  }
  
  .card .info {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    font-size: 0.92em;
    margin: 1em;
  }
  .card .add-on{
    font-style: italic;
    font-size: 1.0em;

  }
  
  .card .img {
    width: 4.8em;
    height: 4.8em;
    border-radius: 15px;
    background-color: #ffffff;
    margin: auto;
  }
  .img img{
    max-width: 80px;
    margin: auto;

  }
  
  .card .share {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  
  .card #icon {
    color: white;
    transition: .4s ease-in-out;
  }
  
  .card #icon:hover {
    color: #be95be;
  }
  
  .card button {
    bottom: 1 4em;
    padding: 0.8em 1.7em;
    display: block;
    margin: auto;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: .4s ease-in-out;
  }
  
  .card button:hover {
    background: #be95be;
    color: white;
    cursor: pointer;
  }


  #sketch-container .p5Canvas{
    left: 10em;
    bottom: 120px;
    position: absolute;
    width: 80%;
    max-width: 500px;
    height: 80%;
    max-height: 500px;
    border-radius: 15px;
  }

  #sketch-container2 .p5Canvas{
    left: 58em;
    bottom: 120px;
    position: absolute;
    width: 80%;
    max-width: 500px;
    height: 80%;
    max-height: 500px;
    border-radius: 15px;
  }

  @media only screen and (max-width: 600px){
    #sketch-container .p5Canvas{
     display: none;

    }
    #sketch-container2 .p5Canvas{
      display: none;
    }
  }